body{
    margin: 0;
    background-color:white;
}

.background{
    background:linear-gradient(rgb(125, 146, 151)60%, white);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-around;
    color:  rgb(55, 85, 138);
    font-family: Arial;
    text-align: start;
    font-size: 15px;
}

.container section{
    position: relative;
    right: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;

}


.container input{
    height: 40px;
    width: 160px;
    border-radius: 15px;
    font-weight: 700;
    border: 2px solid  rgb(55, 85, 138);
    padding-left: 10px;
}

button{
    position: relative;
    height: 40px;
    width: 120px;
    font-weight: 600;
    border-radius: 40px;
    background-color: rgb(91, 107, 180);
    color: white;
    border: none;
}

button:nth-child(1):hover{
    cursor: pointer;
    background-color: rgb(64, 64, 132);
}

button:nth-child(2){
    background-color: brown;
}

button:nth-child(2):hover{
    background-color:rgb(138, 39, 39);
    cursor: pointer;
}

#resultado{
    color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

table{
    height: 200px;
    width: 400px;

}

td{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(1){
    color: rgb(91, 107, 180);

}

.title{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    width: 390px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(91, 107, 180);
}